<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding register-content">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="10" size-md="8" size-lg="6">

        <ion-card class="register-card">
          <ion-card-header>
            <ion-card-title class="ion-text-center register-title">
              Crear cuenta
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form (ngSubmit)="onRegister()" #registerForm="ngForm">
              
              <!-- Nombre -->
              <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input
                  [(ngModel)]="user.name"
                  name="name"
                  type="text"
                  required>
                </ion-input>
              </ion-item>

              <!-- Apellido -->
              <ion-item>
                <ion-label position="floating">Apellido</ion-label>
                <ion-input
                  [(ngModel)]="user.lastName"
                  name="lastName"
                  type="text"
                  required>
                </ion-input>
              </ion-item>

              <!-- Correo -->
              <ion-item>
                <ion-label position="floating">Correo electrónico</ion-label>
                <ion-input
                  [(ngModel)]="user.email"
                  name="email"
                  type="email"
                  required>
                </ion-input>
              </ion-item>

              <!-- País -->
              <ion-item>
                <ion-label>País</ion-label>
                <ion-select
                  [(ngModel)]="user.country"
                  name="country"
                  placeholder="Selecciona un país"
                  interface="popover"
                  required>
                  <ion-select-option *ngFor="let c of countries" [value]="c">
                    {{ c.emoji }} {{ c.value }}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <!-- Contraseña -->
              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input
                  [type]="showPassword ? 'text' : 'password'"
                  [(ngModel)]="user.password"
                  name="password"
                  required>
                </ion-input>
                <ion-button fill="clear" slot="end" (click)="togglePassword('password')">
                  <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
                </ion-button>
              </ion-item>

              <!-- Confirmar contraseña -->
              <ion-item>
                <ion-label position="floating">Confirmar contraseña</ion-label>
                <ion-input
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  [(ngModel)]="user.confirmPassword"
                  name="confirmPassword"
                  required>
                </ion-input>
                <ion-button fill="clear" slot="end" (click)="togglePassword('confirm')">
                  <ion-icon [name]="showConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
                </ion-button>
              </ion-item>

              <!-- Botones -->
              <div class="ion-margin-top">
                <ion-button expand="block" type="submit" color="primary" shape="round">
                  Registrar
                </ion-button>
                <ion-button expand="block" fill="outline" color="primary" routerLink="/login" shape="round">
                  Volver al Login
                </ion-button>
              </div>

            </form>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
